In [53]:
''' 
  @Author: Uthsavi KP
  @Date: 2021-01-14 3:30:33
  @Last Modified by: Uthsavi KP
  @Last Modified time: 2021-01-14 3:30:33
  @Title: To append a new row 'k' to data frame.Now delete the new row and return the original DataFrame  
'''
import numpy as np
import pandas as pd
class AppendAndDrop:
    def append_drop_new_row(self):
        """
        appending new row "k" and then deleting the
        new k to return the original dataframe
        """
        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
        
        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'] 
        df = pd.DataFrame(exam_data,index=labels)
        data = [{"name" : "Suresh","score": 15.5,"attempts": 1,"qualify": "yes"}]
        df1 = df.append(data)
        df1 = df1.rename(index={0:"k"})
        print("Original dataframe\n",df,"\n\nDataFrame after adding row 'k'\n",df1,"\n\nAfter droping the row 'k'\n", df1.drop("k"))
if __name__=="__main__":
    append_drop = AppendAndDrop()
    append_drop.append_drop_new_row()

Original dataframe
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

DataFrame after adding row 'k'
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

After droping the row 'k'
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes